h1{
    text-align: center;
}
.container{
    display: inline-flex;
    margin-top: 3%;
}
.details{
    margin-block-end: 0.5%;
}

input{
    display: inline-block;
    border:0;
    border-bottom: 2px solid black;
    width:12%;
}
.card{
    display: inline;
    width:80%;
}
.section2{
   margin-inline-end: 10%;
   margin-left: 5%;
   margin-right: 3%;
}
.section1{
    border:2px solid black
}
.character-details{
    list-style-type: none;
    display: inline-block;
}
