body{
    background-image: url('/images/Spells.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    font-family: cursive;
    font-size: 500%;
    color: rgb(243, 200, 122);
}
.card {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
    margin: 5%;
    background-color: none;
}

.card-body {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 70%;
    border-radius: 2%;
    background-color: rgb(236, 243, 223);
    opacity: 55%;
    
}

.card-title {
    text-align: center;
    font-family: helvetica cursive;
    font-size: 100%;
    color: #A71D31;
}
.nav-item{
    display: inline;
    float: right;
    padding-inline-end: 2%;
    color: rgb(243, 200, 122);
    margin-top: 0%;
    padding-top: 0%;
}
.nav-link{
    font-family: helvetica cursive;
    font-size: medium;
    color: rgb(243, 200, 122);
}
